In [21]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime as dt
from datetime import timedelta as td
import numpy as np
from pandas import Timestamp

In [56]:
file_path = r'C:/Users/srubin/OneDrive - INTERA Inc/Lisbon/MODFLOW_Visualization/l210610d/l210610d_targets.xlsx'
refDate = dt(1990, 4, 1)

df = pd.read_excel(file_path)
df.head()

,Name,Time,X,Y,Layer,Observed,Computed,Weight,Group,Residual
0,D-3,3308.0,2.275016e+06,1.043245e+07,12.0,6551.10,6512.667621,1.0,1.0,38.432379
1,D-3,4150.0,2.275016e+06,1.043245e+07,12.0,6541.81,6515.989091,1.0,1.0,25.820909
2,D-3,4413.0,2.275016e+06,1.043245e+07,12.0,6541.96,6515.767197,1.0,1.0,26.192803
3,DH-10,543.0,2.274821e+06,1.043232e+07,12.0,6503.70,6509.955700,1.0,1.0,-6.255700
4,DH-10,928.0,2.274821e+06,1.043232e+07,12.0,6502.70,6510.285647,1.0,1.0,-7.585647

In [57]:
df['Date'] = refDate + pd.TimedeltaIndex(df['Time'], unit='D')

In [58]:
df.head()

,Name,Time,X,Y,Layer,Observed,Computed,Weight,Group,Residual,Date
0,D-3,3308.0,2.275016e+06,1.043245e+07,12.0,6551.10,6512.667621,1.0,1.0,38.432379,1999-04-22
1,D-3,4150.0,2.275016e+06,1.043245e+07,12.0,6541.81,6515.989091,1.0,1.0,25.820909,2001-08-11
2,D-3,4413.0,2.275016e+06,1.043245e+07,12.0,6541.96,6515.767197,1.0,1.0,26.192803,2002-05-01
3,DH-10,543.0,2.274821e+06,1.043232e+07,12.0,6503.70,6509.955700,1.0,1.0,-6.255700,1991-09-26
4,DH-10,928.0,2.274821e+06,1.043232e+07,12.0,6502.70,6510.285647,1.0,1.0,-7.585647,1992-10-15